
<h2> Review List</h2>
<table  class = "table table-striped">
    <thead>
        <tr>
            <th> Review Id</th>
            <th> User id </th>
            <th> Description</th>
            <th> rating </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let review of reviews" >
            <td> {{ review.reviewId }} </td>
            <td> {{ review.userId}} </td>
            <td> {{ review.description }} </td>
            <td> {{ review.rating}} </td>
            <td>
                <button (click) = "updateReview(review.reviewId)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteReview(review.reviewId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "reviewDetails(review.reviewId)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
            
        </tr>
    </tbody>
</table>